<h3 class="box-title">Bank account</h3>
<hr class="m-t-0 m-b-40">
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Bank:</label>
            <div class="col-md-9">
                <p class="form-control-static"> Unicredit Bank </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Bank account:</label>
            <div class="col-md-9">
                <p class="form-control-static"> 3893-0000-0000-0123 </p>
            </div>
        </div>
    </div>
</div>
