<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.ogOrganizations.home.title">Og Organizations</span>
        <button class="btn btn-primary float-right jh-create-entity create-og-organizations" [routerLink]="['/', { outlets: { popup: ['og-organizations-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.ogOrganizations.home.createLabel">
            Create new Og Organizations
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ogOrganizations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="hcmEmpApp.ogOrganizations.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="hcmEmpApp.ogOrganizations.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="hcmEmpApp.ogOrganizations.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="hcmEmpApp.ogOrganizations.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdAt"><span jhiTranslate="hcmEmpApp.ogOrganizations.createdAt">Created At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedBy"><span jhiTranslate="hcmEmpApp.ogOrganizations.updatedBy">Updated By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedAt"><span jhiTranslate="hcmEmpApp.ogOrganizations.updatedAt">Updated At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idOrganizationType.name"><span jhiTranslate="hcmEmpApp.ogOrganizations.idOrganizationType">Id Organization Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idParent.name"><span jhiTranslate="hcmEmpApp.ogOrganizations.idParent">Id Parent</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idLegalEntity.name"><span jhiTranslate="hcmEmpApp.ogOrganizations.idLegalEntity">Id Legal Entity</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ogOrganizations of ogOrganizations ;trackBy: trackId">
                <td><a [routerLink]="['../og-organizations', ogOrganizations.id ]">{{ogOrganizations.id}}</a></td>
                <td>{{ogOrganizations.code}}</td>
                <td>{{ogOrganizations.name}}</td>
                <td>{{ogOrganizations.description}}</td>
                <td>{{ogOrganizations.createdBy}}</td>
                <td>{{ogOrganizations.createdAt | date:'medium'}}</td>
                <td>{{ogOrganizations.updatedBy}}</td>
                <td>{{ogOrganizations.updatedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="ogOrganizations.idOrganizationType">
                        <a [routerLink]="['../og-org-types', ogOrganizations.idOrganizationType?.id ]" >{{ogOrganizations.idOrganizationType?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ogOrganizations.idParent">
                        <a [routerLink]="['../og-organizations', ogOrganizations.idParent?.id ]" >{{ogOrganizations.idParent?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ogOrganizations.idLegalEntity">
                        <a [routerLink]="['../le-legal-entities', ogOrganizations.idLegalEntity?.id ]" >{{ogOrganizations.idLegalEntity?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../og-organizations', ogOrganizations.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'og-organizations/'+ ogOrganizations.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'og-organizations/'+ ogOrganizations.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ogOrganizations && ogOrganizations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
