<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.rgIdentificationTypes.home.title">Rg Identification Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-rg-identification-types" [routerLink]="['/', { outlets: { popup: ['rg-identification-types-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.rgIdentificationTypes.home.createLabel">
            Create new Rg Identification Types
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rgIdentificationTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.code">Code</span></th>
            <th><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.name">Name</span></th>
            <th><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.description">Description</span></th>
            <th><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.createdBy">Created By</span></th>
            <th><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.createdAt">Created At</span></th>
            <th><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.updatedAt">Updated At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rgIdentificationTypes of rgIdentificationTypes ;trackBy: trackId">
                <td><a [routerLink]="['../rg-identification-types', rgIdentificationTypes.id ]">{{rgIdentificationTypes.id}}</a></td>
                <td>{{rgIdentificationTypes.code}}</td>
                <td>{{rgIdentificationTypes.name}}</td>
                <td>{{rgIdentificationTypes.description}}</td>
                <td>{{rgIdentificationTypes.createdBy}}</td>
                <td>{{rgIdentificationTypes.createdAt | date:'medium'}}</td>
                <td>{{rgIdentificationTypes.updatedBy}}</td>
                <td>{{rgIdentificationTypes.updatedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rg-identification-types', rgIdentificationTypes.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rg-identification-types/'+ rgIdentificationTypes.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rg-identification-types/'+ rgIdentificationTypes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
