
<div *ngIf="rgIdentificationTypes">
    <h2><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.detail.title">Rg Identification Types</span> {{rgIdentificationTypes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.code">Code</span></dt>
        <dd>
            <span>{{rgIdentificationTypes.code}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.name">Name</span></dt>
        <dd>
            <span>{{rgIdentificationTypes.name}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.description">Description</span></dt>
        <dd>
            <span>{{rgIdentificationTypes.description}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.createdBy">Created By</span></dt>
        <dd>
            <span>{{rgIdentificationTypes.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.createdAt">Created At</span></dt>
        <dd>
            <span>{{rgIdentificationTypes.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{rgIdentificationTypes.updatedBy}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgIdentificationTypes.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{rgIdentificationTypes.updatedAt | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rg-identification-types/'+ rgIdentificationTypes.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
