<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.emEmpSkills.home.title">Em Emp Skills</span>
        <button class="btn btn-primary float-right jh-create-entity create-em-emp-skills" [routerLink]="['/', { outlets: { popup: ['em-emp-skills-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.emEmpSkills.home.createLabel">
            Create new Em Emp Skills
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="emEmpSkills">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSkills.description">Description</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSkills.dateSkill">Date Skill</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSkills.createdBy">Created By</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSkills.createdAt">Created At</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSkills.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSkills.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSkills.idEmployee">Id Employee</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSkills.idSkill">Id Skill</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSkills.idGrade">Id Grade</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emEmpSkills of emEmpSkills ;trackBy: trackId">
                <td><a [routerLink]="['../em-emp-skills', emEmpSkills.id ]">{{emEmpSkills.id}}</a></td>
                <td>{{emEmpSkills.description}}</td>
                <td>{{emEmpSkills.dateSkill | date:'mediumDate'}}</td>
                <td>{{emEmpSkills.createdBy}}</td>
                <td>{{emEmpSkills.createdAt | date:'medium'}}</td>
                <td>{{emEmpSkills.updatedBy}}</td>
                <td>{{emEmpSkills.updatedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="emEmpSkills.idEmployee">
                        <a [routerLink]="['../em-employees', emEmpSkills.idEmployee?.id ]" >{{emEmpSkills.idEmployee?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emEmpSkills.idSkill">
                        <a [routerLink]="['../rg-skills', emEmpSkills.idSkill?.id ]" >{{emEmpSkills.idSkill?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emEmpSkills.idGrade">
                        <a [routerLink]="['../rg-skill-grades', emEmpSkills.idGrade?.id ]" >{{emEmpSkills.idGrade?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../em-emp-skills', emEmpSkills.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-emp-skills/'+ emEmpSkills.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-emp-skills/'+ emEmpSkills.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
