<div class="row">
    <div class="col-md-12">
        <jhi-alert></jhi-alert>
    </div>
</div>
<div class="row">

    <div class="col-sm-2">

        <div class="at-img-align m-b-30 image-holder">
            <img #userImage *ngIf="employee.imageBlob" [src]="trustedUrl" class="img-fluid img-circle m-b-30" />
            <a style="position: absolute; top:0; right: 0;" (click)="file.click()"><i class="fa fa-pencil action-button-at"></i></a>
            <input type="file" #file name="file" (change)="setFileData($event, employee, 'imageBlob', true)" ngModel style="display: none"/>
            <img *ngIf="!employee.imageBlob" src="../../../content/images/users/1.jpg" class="img-fluid img-circle" />
        </div>
        <a *ngIf="isEditable" class="popup-with-form pull-right" [routerLink]="['/', { outlets: {popup: 'em-employees/'+ employee.id + '/edit'} }]">
            <i class="fa fa-pencil action-button-at"></i>
        </a>
        <div class="preview" jhiTranslate="global.employees.businessPhone"> Bussines phone</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee?.phoneNumber}}</div>
        <br>
        <div class="preview" jhiTranslate="global.employees.privatePhone"> Private phone</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee?.personalPhoneNumber}}</div>
        <br>
        <div class="preview" jhiTranslate="global.employees.businessEmail"> Bussines mail</div>
        <div class="preview" style="font-weight:bold; white-space: pre-wrap; word-break: break-all;"><i class="icon-envelope-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee?.email}}</div>
        <br>
        <hr class="m-t-0 m-b-20">
        <div class="preview" jhiTranslate="global.employees.hireDate"> Hire date</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-calender"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee?.hireDate | date:'dd/MM/yyyy'}}</div>
        <br>
        <div class="preview" jhiTranslate="global.employees.contractType"> Contract type</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-folder-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee?.idEmploymentType?.name}}</div>
        <br>
        <div class="preview" jhiTranslate="global.employees.department"> Department</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-people"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employeeWorkPlace?.idOrgWorkPlace?.idOrganization?.name}}</div>
        <br>
        <div class="preview" jhiTranslate="global.employees.location"> Location</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-location-pin"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employeeWorkPlace?.idOrgWorkPlace?.idOrganization?.idLegalEntity?.address}}</div>
        <br>
        <hr class="m-t-0 m-b-20">
    </div>
    <div class="col-sm-10">
        <h3><b>{{employee?.name}} {{employee?.surname}}</b></h3>
        <h3><b>{{employeeWorkPlace?.idOrgWorkPlace?.idWorkPlace?.name}}</b></h3>
        <button *ngIf="isEditable && !employeeWorkPlace" style="margin-top: -80px;" class="btn btn-primary float-right jh-create-entity create-em-emp-org-work-places" [routerLink]="['/', { outlets: { popup: 'em-emp-org-work-places-new/' + employee.id } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="global.employees.addWorkPlace">
                Add Work Place
            </span>
        </button>
        <button *ngIf="isEditable && employeeWorkPlace" style="margin-top: -80px;" class="btn btn-primary float-right jh-create-entity create-em-emp-org-work-places" [routerLink]="['/', { outlets: { popup: 'em-emp-org-work-places/' + employeeWorkPlace.id + '/edit'} }]">
            <span class="fa fa-pencil"></span>
            <span jhiTranslate="global.employees.editWorkPlace">
                Edit Work Place
            </span>
        </button>
        <ul class="nav customtab nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a href="#personal" (click)="changeTabState('personal')" [class.active]="tabState == 'personal'" class="nav-link" aria-controls="personal" role="tab" data-toggle="tab" aria-expanded="fa;se"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs" jhiTranslate="global.employees.personal"> Personal</span></a></li>
            <li role="presentation" class="nav-item"><a href="#job" (click)="changeTabState('job')" [class.active]="tabState == 'job'" class="nav-link" aria-controls="job" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs" jhiTranslate="global.employees.jobExperience">Job experience</span></a></li>
            <li role="presentation" class="nav-item"><a href="#education" (click)="changeTabState('education')" [class.active]="tabState == 'education'" class="nav-link" aria-controls="education" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs" jhiTranslate="global.employees.education">Education</span></a></li>
            <li role="presentation" class="nav-item"><a href="#training" (click)="changeTabState('training')" [class.active]="tabState == 'training'" class="nav-link" aria-controls="training" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs" jhiTranslate="global.employees.training">Training</span></a></li>
            <li role="presentation" class="nav-item"><a href="#acomplishments" (click)="changeTabState('accomplishments')" [class.active]="tabState == 'accomplishments'" class="nav-link" aria-controls="acomplishments" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs" jhiTranslate="global.employees.accomplishments">Accomplishments</span></a></li>
            <li role="presentation" class="nav-item"><a href="#documents" (click)="changeTabState('documents')" [class.active]="tabState == 'documents'" class="nav-link" aria-controls="documents" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs" jhiTranslate="global.employees.documents">Documents</span></a></li>
            <li role="presentation" class="nav-item"><a href="#performance" (click)="changeTabState('performance')" [class.active]="tabState == 'performance'" class="nav-link" aria-controls="performance" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs" jhiTranslate="global.employees.performance">Performance</span></a></li>
            <li role="presentation" class="nav-item"><a href="#notes" (click)="changeTabState('skills')" [class.active]="tabState == 'skills'" class="nav-link" aria-controls="skills" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs" jhiTranslate="global.employees.skills">Skills</span></a></li>
            <li role="presentation" class="nav-item dropdown user-pro-body pull-right">
                <a  href="" class="u-dropdown" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                    <span class="visible-xs">
                        <i class="ti-settings"></i>
                    </span>
                    <span class="hidden-xs" jhiTranslate="global.employees.other">Other</span>
                </a>
                <ul class="dropdown-menu animated fadeIn">
                    <li>
                        <a (click)="changeTabState('rewards')"  class="popup-with-form" jhiTranslate="global.employees.rewards">
                            <i class="fa fa-gift"></i> Rewards
                        </a>
                    </li>
                    <li>
                        <a (click)="changeTabState('penalties')"  class="popup-with-form" jhiTranslate="global.employees.penalties">
                            <i class="fa fa-times-circle"></i> Penalties
                        </a>
                    </li>
                    <li>
                        <a (click)="changeTabState('families')"  class="popup-with-form" jhiTranslate="global.employees.family">
                            <i class="fa fa-slideshare"></i> Family
                        </a>
                    </li>
                    <li>
                        <a (click)="changeTabState('identifications')"  class="popup-with-form" jhiTranslate="global.employees.identifications">
                            <i class="fa fa-user"></i> Identifications
                        </a>
                    </li>
                    <li>
                        <a (click)="changeTabState('borrowings')"  class="popup-with-form" jhiTranslate="global.employees.borrowings">
                            <i class="fa fa-credit-card"></i> Borrowings
                        </a>
                    </li>
                    <li>
                        <a (click)="changeTabState('injuries')"  class="popup-with-form" jhiTranslate="global.employees.injuries">
                            <i class="fa fa-medkit"></i> Injuries
                        </a>
                    </li>
                    <li>
                        <a (click)="changeTabState('notes')"  class="popup-with-form" jhiTranslate="global.employees.notes">
                            <i class="icon-notebook"></i> Notes
                        </a>
                    </li>
                </ul>
            </li>



            <!--<div class="dropdown user-pro-body pull-right">-->
                <!--<a href="#" class="u-dropdown" data-toggle="dropdown"-->
                   <!--role="button" aria-haspopup="true" aria-expanded="false">-->
                    <!--<i class="fa fa-plus action-button-at"></i>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu animated fadeIn">-->
                    <!--<li><a href="#"><i class="icon-notebook"></i> Hiring paperwork</a></li>-->
                    <!--<li><a href="#"><i class="icon-notebook"></i> Tasklist</a></li>-->
                    <!--<li><a href="#"><i class="icon-notebook"></i> Other</a></li>-->
                <!--</ul>-->
            <!--</div>-->

        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'personal'"  id="personal">
                <div id="dataScroll">
                    <div class="form-horizontal">
                            <jhi-emp-personal-info [employee]="employee" [isEditable]="isEditable"></jhi-emp-personal-info>
                            <jhi-emp-address [employee]="employee" [isEditable]="isEditable"></jhi-emp-address>
                            <jhi-emp-ssn-and-tax-no [employee]="employee" [isEditable]="isEditable"></jhi-emp-ssn-and-tax-no>
                            <jhi-emp-emergency-contact [employee]="employee" [isEditable]="isEditable"></jhi-emp-emergency-contact>
                            <jhi-emp-bank-account [employee]="employee" [isEditable]="isEditable"></jhi-emp-bank-account>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'job'" id="job">
                <div id="dataScrollExp">
                    <jhi-emp-job-experience [isEditable]="isEditable" [employeeId]="employee.id"></jhi-emp-job-experience>
                    <jhi-emp-payroll-changes [employeeId]="employee.id" [isEditable]="isEditable"></jhi-emp-payroll-changes>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'education'" id="education">
                <div id="dataScrollEdu">
                    <jhi-emp-education [isEditable]="isEditable" [employeeId]="employee.id"></jhi-emp-education>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'training'" id="training">
                <div id="dataScrollTra">
                    <jhi-emp-training></jhi-emp-training>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'accomplishments'" id="acomplishments">
                <div id="dataScrollAcc">
                    <jhi-emp-accomplishments [isEditable]="isEditable" [employeeId]="employee.id"></jhi-emp-accomplishments>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'documents'" id="documents">
                <div id="dataScrollDoc">
                    <jhi-emp-documents [employee]="employee" [isEditable]="isEditable"></jhi-emp-documents>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'performance'" id="performance">
                <div id="dataScrollPer">
                    <jhi-emp-performance></jhi-emp-performance>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'notes'" id="notes">
                <div id="dataScrollNotes">
                    <jhi-emp-notes [employee]="employee" [isEditable]="isEditable"></jhi-emp-notes>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'rewards'" id="rewards">
                <div id="1" class="dataScrollUniversal">
                    <jhi-emp-rewards [employee]="employee" [isEditable]="isEditable"></jhi-emp-rewards>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'penalties'" id="penalties">
                <div id="2" class="dataScrollUniversal">
                    <jhi-emp-penalties [employee]="employee" [isEditable]="isEditable"></jhi-emp-penalties>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'injuries'" id="injuries">
                <div id="3" class="dataScrollUniversal">
                    <jhi-emp-injuries [employee]="employee" [isEditable]="isEditable"></jhi-emp-injuries>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'borrowings'" id="borrowings">
                <div id="4" class="dataScrollUniversal">
                    <jhi-emp-borrowings [employee]="employee" [isEditable]="isEditable"></jhi-emp-borrowings>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'families'" id="families">
                <div id="5" class="dataScrollUniversal">
                    <jhi-emp-families [employee]="employee" [isEditable]="isEditable"></jhi-emp-families>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'identifications'" id="identifications">
                <div id="6" class="dataScrollUniversal">
                    <jhi-emp-identifications [employee]="employee" [isEditable]="isEditable"></jhi-emp-identifications>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'skills'" id="skills">
                <div id="7" class="dataScrollUniversal">
                    <jhi-emp-skills [employee]="employee" [isEditable]="isEditable"></jhi-emp-skills>
                </div>
            </div>
        </div>
    </div>
</div>
<!--./row-->

