
<div class="row">
    <div class="col-sm-2">

        <div class="at-img-align m-b-30">
            <img src="../../../content/images/users/1.jpg" class="img-fluid img-circle" />
        </div>
        <div class="preview"> Bussines phone</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee?.phoneNumber}}</div>
        <br>
        <div class="preview"> Private phone</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DODATI POLJE</div>
        <br>
        <div class="preview"> Bussines mail</div>
        <div class="preview" style="font-weight:bold; font-size: 10px;"><i class="icon-envelope-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee?.email}}</div>
        <br>
        <hr class="m-t-0 m-b-20">
        <div class="preview"> Hire date</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-calender"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee?.hireDate | date:'dd/MM/yyyy'}}</div>
        <br>
        <div class="preview"> Contract type</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-folder-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee?.idEmploymentType?.name}}</div>
        <br>
        <div class="preview"> Department</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-people"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employeeWorkPlace?.idOrgWorkPlace?.idOrganization?.name}}</div>
        <br>
        <div class="preview"> Location</div>
        <div class="preview" style="font-weight:bold;"><i class="icon-location-pin"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employeeWorkPlace?.idOrgWorkPlace?.idOrganization?.idLegalEntity?.address}}</div>
        <br>
        <hr class="m-t-0 m-b-20">
    </div>
    <div class="col-sm-10">
        <h3><b>{{employee?.name}} {{employee?.surname}}</b></h3>
        <h3><b>{{employeeWorkPlace?.idOrgWorkPlace?.idWorkPlace?.name}}</b></h3>
        <ul class="nav customtab nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a href="#personal" (click)="changeTabState('personal')" [class.active]="tabState == 'personal'" class="nav-link" aria-controls="personal" role="tab" data-toggle="tab" aria-expanded="fa;se"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> Personal</span></a></li>
            <li role="presentation" class="nav-item"><a href="#job" (click)="changeTabState('job')" [class.active]="tabState == 'job'" class="nav-link" aria-controls="job" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Job & past experience</span></a></li>
            <li role="presentation" class="nav-item"><a href="#education" (click)="changeTabState('education')" [class.active]="tabState == 'education'" class="nav-link" aria-controls="education" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Education</span></a></li>
            <li role="presentation" class="nav-item"><a href="#training" (click)="changeTabState('training')" [class.active]="tabState == 'training'" class="nav-link" aria-controls="training" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Training</span></a></li>
            <li role="presentation" class="nav-item"><a href="#acomplishments" (click)="changeTabState('accomplishments')" [class.active]="tabState == 'accomplishments'" class="nav-link" aria-controls="acomplishments" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Acomplishments</span></a></li>
            <li role="presentation" class="nav-item"><a href="#documents" (click)="changeTabState('documents')" [class.active]="tabState == 'documents'" class="nav-link" aria-controls="documents" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs">Documents</span></a></li>
            <li role="presentation" class="nav-item"><a href="#performance" (click)="changeTabState('performance')" [class.active]="tabState == 'performance'" class="nav-link" aria-controls="performance" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Performance</span></a></li>
            <li role="presentation" class="nav-item"><a href="#notes" (click)="changeTabState('notes')" [class.active]="tabState == 'notes'" class="nav-link" aria-controls="notes" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Notes</span></a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'personal'"  id="personal">
                <div id="dataScroll">
                    <div class="form-horizontal">
                            <jhi-emp-personal-info [employee]="employee" [isEditable]="isEditable"></jhi-emp-personal-info>
                            <jhi-emp-address [employee]="employee" [isEditable]="isEditable"></jhi-emp-address>
                            <jhi-emp-ssn-and-tax-no [employee]="employee" [isEditable]="isEditable"></jhi-emp-ssn-and-tax-no>
                            <jhi-emp-emergency-contact></jhi-emp-emergency-contact>
                            <jhi-emp-bank-account [employee]="employee" [isEditable]="isEditable"></jhi-emp-bank-account>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'job'" id="job">
                <div id="dataScrollExp">
                    <jhi-emp-job-experience></jhi-emp-job-experience>
                    <jhi-emp-payroll-changes></jhi-emp-payroll-changes>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'education'" id="education">
                <div id="dataScrollEdu">
                    <jhi-emp-education></jhi-emp-education>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'training'" id="training">
                <div id="dataScrollTra">
                    <jhi-emp-training></jhi-emp-training>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'accomplishments'" id="acomplishments">
                <div id="dataScrollAcc">
                    <jhi-emp-accomplishments></jhi-emp-accomplishments>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'documents'" id="documents">
                <div id="dataScrollDoc">
                    <jhi-emp-documents [employee]="employee" [isEditable]="isEditable"></jhi-emp-documents>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'performance'" id="performance">
                <div id="dataScrollPer">
                    <jhi-emp-performance></jhi-emp-performance>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" [class.active]="tabState == 'notes'" id="notes">
                <div id="dataScrollNotes">
                    <jhi-emp-notes [employee]="employee" [isEditable]="isEditable"></jhi-emp-notes>
                </div>
            </div>
        </div>
    </div>
</div>
<!--./row-->

