<h3 class="box-title">SSN & Tax number</h3>
<hr class="m-t-0 m-b-40">
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">SSN:</label>
            <div class="col-md-9">
                <p class="form-control-static"> 333-222-111-0 </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Tax number:</label>
            <div class="col-md-9">
                <p class="form-control-static"> 0123-321-432-543 </p>
            </div>
        </div>
    </div>
</div>
