<h3 class="box-title">SSN & Tax number</h3>
<div class="pull-right" style="margin-top: -35px;margin-right: 15px;">
    <a *ngIf="isEditable" class="popup-with-form" [routerLink]="['/', { outlets: {popup: 'emp-ssn-and-tax-no/'+ employee?.id + '/edit'} }]">
        <i class="fa fa-pencil action-button-at"></i>
    </a>
</div>
<hr class="m-t-0 m-b-40">
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">SSN:</label>
            <div class="col-md-9">
                <p class="form-control-static"> {{employee.ssn}} </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Tax number:</label>
            <div class="col-md-9">
                <p class="form-control-static"> {{employee.taxNumber}} </p>
            </div>
        </div>
    </div>
</div>
