<div class="comment-center">
    <div class="comment-body" style="width: 100%;">
        <div class="row">
            <div class="col-md-1">
                <img src="../../../content/images/users/1.jpg" class="img-fluid img-circle" />
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <h5><b>John Doe, Information Systems Architect</b></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <b>Hire date:</b> 16-JUN-2015
                    </div>
                    <div class="col-md-3">
                        <b>Contract type:</b> Full time
                    </div>
                    <div class="col-md-3">
                        <b>Department:</b> IT dev/ops
                    </div>
                    <div class="col-md-3">
                        <b>Location:</b> Sarajevo
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <b>Bussines phone:</b> ++387 33 267 680
                    </div>
                    <div class="col-md-3">
                        <b>Bussines mail:</b> john.doe@infostudio.ba
                    </div>
                    <div class="col-md-3">
                        <b>Qualification:</b> Master's Degree
                    </div>
                    <div class="col-md-3">
                        <b>Date of Birth:</b> 11-JUN-1987 , Age 30
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br><a href="employee-overview.html" class="label label-rouded label-default" style="color: black;">Details . . .</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
