<div class="row">
    <div class="col-md-12">
        <jhi-alert></jhi-alert>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">

            <h4 >Search by</h4>
            <div class="row">
                <div class="col-md-3">
                    <p class="d-flex">
                        <span class="input-group-addon">Name</span>
                        <input type="text" class="form-control" name="name" [(ngModel)]="name"/>
                    </p>
                </div>
                <div class="col-md-3">
                    <p class="d-flex">
                        <span class="input-group-addon">Surname</span>
                        <input type="text" class="form-control" name="surname" [(ngModel)]="surname"/>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <button class="btn btn-primary" (click)="onSearchChange($event)">Search</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default" (click)="toggleAdvSearch = !toggleAdvSearch"><i class="ti-plus"></i> Advanced Search</button>
                    </div>
                    <!--<div class="col-md-4">-->
                    <!--<button class="btn btn-default" (click)="onClear()">Clear Search Parameters</button>-->
                    <!--</div>-->
                </div>
            </div>
            <hr>

            <div *ngIf="toggleAdvSearch">
                <h4 >Filter by</h4>
                <div class="row">
                    <div class="col-md-6">
                        <p class="d-flex">
                            <span class="input-group-addon">Hire Date From</span>
                            <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" (ngModelChange)="onSearchChange($event)"/>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="d-flex">
                            <span class="input-group-addon">Hire Date To</span>
                            <input type="date" class="form-control" name="end" [(ngModel)]="toDate" (ngModelChange)="onSearchChange($event)"/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="d-flex">
                            <span class="input-group-addon">Organization</span>
                            <select class="form-control" id="field_organization" name="organizaton" [(ngModel)]="organizationId" (ngModelChange)="onSearchChange($event)">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="organization.id" *ngFor="let organization of organizations;">{{organization.name}}</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="d-flex">
                            <span class="input-group-addon">Workplace</span>
                            <select class="form-control" id="field_workplace" name="workplace" [(ngModel)]="workplaceId" (ngModelChange)="onSearchChange($event)">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="item.id" *ngFor="let item of workplaces;">{{item.name}}</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="d-flex">
                            <span class="input-group-addon">Qualification</span>
                            <select class="form-control" id="field_qualification" name="qualification" [(ngModel)]="qualificationId" (ngModelChange)="onSearchChange($event)">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="item.id" *ngFor="let item of qualifications;">{{item.name}}</option>
                            </select>
                        </p>
                    </div>
                </div>
                <hr>
            </div>



            <button class="btn btn-primary float-right jh-create-entity create-em-employees" [routerLink]="['/', { outlets: { popup: ['employees-list-new'] } }]">
                <span class="fa fa-plus"></span>
                <span  jhiTranslate="hcmEmpApp.emEmployees.home.createLabel">
            Create new Em Employees
            </span>
            </button>
            <div class="comment-center">
                <div *ngFor="let employee of emEmployees;" class="comment-body" style="width: 100%;">
                    <div *ngIf="emEmpOrgWorkPlaces" class="row">
                        <div class="col-md-1">
                            <img #userImage *ngIf="employee.imageBlob" [src]="findUrl(employee.id)" class="img-fluid img-circle m-b-30" />
                            <img *ngIf="!employee.imageBlob" src="../../../content/images/users/user-male-icon.png" class="img-fluid img-circle" />
                        </div>
                        <div class="col-md-11">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5><b>{{employee?.name}} {{employee?.middleName}} {{employee?.surname}}, {{findWorkPlace(employee.id)}}</b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <b>Hire date:</b> {{employee?.hireDate | date}}
                                </div>
                                <div class="col-md-3">
                                    <b>Contract type:</b> {{employee?.idEmploymentType.name}}
                                </div>
                                <div class="col-md-3" *ngIf="emEmpOrgWorkPlaces">
                                    <b>Department:</b> {{findOrganization(employee?.id)}}
                                </div>
                                <div class="col-md-3" *ngIf="emEmpOrgWorkPlaces">
                                    <b>Location:</b> {{findOrganizationLocation(employee?.id)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <b>Bussines phone:</b> {{employee?.phoneNumber}}
                                </div>
                                <div class="col-md-3">
                                    <b>Bussines mail:</b> {{employee?.email}}
                                </div>
                                <div class="col-md-3">
                                    <b>Qualification:</b> {{employee?.idQualification.name}}
                                </div>
                                <div class="col-md-3">
                                    <b>Date of Birth:</b> {{employee?.dateOfBirth | date}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <br><a [routerLink]="['/dashboard/employee-overview', { id: employee.id}]"  class="label label-rouded label-default" style="color: black;">Details . . .</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="emEmployees && emEmployees.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
</div>

