
<div *ngIf="ogWorkPlaces">
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <h2><span jhiTranslate="hcmEmpApp.ogWorkPlaces.detail.title">Og Work Places</span> - {{ogWorkPlaces.name}}</h2>
    <div class="pull-right" style="margin-top: -45px">
        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'og-work-places/'+ ogWorkPlaces.id + '/edit'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-primary"
                >
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info"
                >
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </div>


    <hr>

    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3><b jhiTranslate="hcmEmpApp.ogWorkPlaces.code">CODE</b><span class="pull-right">{{ogWorkPlaces.code}}</span></h3>

                <h3><b>ID</b> <span class="pull-right">{{ogWorkPlaces.id}}</span></h3>

                <h3><b jhiTranslate="hcmEmpApp.ogWorkPlaces.idWorkPlaceType">TYPE</b>
                    <span class="pull-right">
                        <div *ngIf="ogWorkPlaces.idWorkPlaceType">
                            <a [routerLink]="['/dashboard/og-work-place-types', ogWorkPlaces.idWorkPlaceType?.id]">{{ogWorkPlaces.idWorkPlaceType?.name}}</a>
                        </div>
                    </span>
                </h3>

                <h3><b jhiTranslate="hcmEmpApp.ogWorkPlaces.idParent">PARENT</b>
                    <span class="pull-right">
                        <div *ngIf="ogWorkPlaces.idParent">
                            <a [routerLink]="['/dashboard/og-work-places', ogWorkPlaces.idParent?.id]">{{ogWorkPlaces.idParent?.name}}</a>
                        </div>
                    </span>
                </h3>

                <h3><b jhiTranslate="hcmEmpApp.ogWorkPlaces.description">DESCRIPTION</b></h3>
                <br>
                <p class=" m-l-5">
                    {{ogWorkPlaces.description}}
                </p>
                <hr>
                <div class="row" style="border: 1px solid black;">
                    <div class="col-md-12">
                        <jhi-og-work-place-skills [workplace]="ogWorkPlaces"></jhi-og-work-place-skills>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
