<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmEmployeesLabel" >Edit personal information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">


            <div class="col-md-2">
                <div class="form-group" [hidden]="!employee.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="employee.id" readonly />
                </div>
            </div>
            <div class="col-md-10"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="field_name">First Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           [(ngModel)]="employee.name" />
                </div>
            </div>
           <div class="col-md-6">
               <div class="form-group">
                   <label class="form-control-label" for="field_middleName">Middle Name</label>
                   <input type="text" class="form-control" name="middleName" id="field_middleName"
                          [(ngModel)]="employee.middleName" />
               </div>
           </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="field_surname">Last Name</label>
                    <input type="text" class="form-control" name="surname" id="field_surname"
                           [(ngModel)]="employee.surname" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="field_maidenName">Maiden Name</label>
                    <input type="text" class="form-control" name="maidenName" id="field_maidenName"
                           [(ngModel)]="employee.maidenName" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label"  for="field_gender">Gender</label>
                    <select class="form-control" id="field_gender" name="gender" [(ngModel)]="employee.gender">
                        <option value="null"></option>
                        <option [selected]="employee?.gender == 'Male'" value="Male">Male</option>
                        <option [selected]="employee?.gender == 'Female'" value="Female">Female</option>
                    </select>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label"  for="field_maritalStatus">Marital Status</label>
                    <select class="form-control" id="field_maritalStatus" name="maritalStatus" [(ngModel)]="employee.maritalStatus">
                        <option value="null"></option>
                        <option [selected]="employee?.maritalStatus == 'Married'" value="Married">Married</option>
                        <option [selected]="employee?.maritalStatus == 'Unmarried'" value="Unmarried">Unmarried</option>
                    </select>
                </div>
            </div>



            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfBirth">Date Of Birth</label>
                    <input id="field_dateOfBirth" type="date" class="form-control" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth"
                    />


                </div>
            </div>
        </div>





        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="hcmEmpApp.employee.idQualification" for="field_idQualification">Id Qualification</label>-->
            <!--<select class="form-control" id="field_idQualification" name="idQualification" [(ngModel)]="employee.idQualification">-->
                <!--<option [ngValue]="null"></option>-->
                <!--<option [ngValue]="rgQualificationsOption.id === employee.idQualification?.id ? employee.idQualification : rgQualificationsOption" *ngFor="let rgQualificationsOption of idqualifications; trackBy: trackRgQualificationsById">{{rgQualificationsOption.name}}</option>-->
            <!--</select>-->
        <!--</div>-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
