<div class="panel-footer p-b-20 p-t-20 m-b-10">
    <i class="icon-user m-r-5 heading-icon-at"></i>
    <span class="heading-at">PERSONAL INFO</span>
    <div class="pull-right">
        <a class="popup-with-form" [routerLink]="['/', { outlets: {popup: 'emp-personal-info/'+ employee.id + '/edit'} }]">
            <i class="fa fa-pencil action-button-at"></i>
        </a>
    </div>
</div>
<div class="form-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">First Name:</label>
                <div class="col-md-9">
                    <p class="form-control-static"> {{employee?.name}} </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">Middle Name:</label>
                <div class="col-md-9">
                    <p class="form-control-static"> {{employee?.middleName}} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">Last Name:</label>
                <div class="col-md-9">
                    <p class="form-control-static"> {{employee?.surname}} </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">Maiden Name:</label>
                <div class="col-md-9">
                    <p class="form-control-static"> {{employee?.maidenName}} </p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">Gender:</label>
                <div class="col-md-9">
                    <p class="form-control-static"> {{employee?.gender}} </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">Marital status:</label>
                <div class="col-md-9">
                    <p class="form-control-static"> {{employee?.maritalStatus}} </p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-3">Date of Birth:</label>
                <div class="col-md-9">
                    <p class="form-control-static"> {{employee?.dateOfBirth | date:'dd/MM/yyyy'}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
</div>
