
<h3 class="box-title">Emergency contact</h3>
<hr class="m-t-0 m-b-40">
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Name:</label>
            <div class="col-md-9">
                <p class="form-control-static">/</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Relationship:</label>
            <div class="col-md-9">
                <p class="form-control-static">/</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Phone number:</label>
            <div class="col-md-9">
                <p class="form-control-static">/</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Email:</label>
            <div class="col-md-9">
                <p class="form-control-static">/</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">Adress:</label>
            <div class="col-md-9">
                <p class="form-control-static">/</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3">City:</label>
            <div class="col-md-9">
                <p class="form-control-static">/</p>
            </div>
        </div>
    </div>
</div>
