<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmEmpOrgWorkPlacesLabel" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.home.createOrEditLabel">Create or edit a Em Emp Org Work Places</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!emEmpOrgWorkPlaces.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="emEmpOrgWorkPlaces.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.dateFrom" for="field_dateFrom">Date From</label>
            <div class="input-group">
                <input id="field_dateFrom" type="text" class="form-control" name="dateFrom" ngbDatepicker  #dateFromDp="ngbDatepicker" [(ngModel)]="emEmpOrgWorkPlaces.dateFrom"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateFromDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateFrom?.dirty && editForm.controls.dateFrom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateFrom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.dateTo" for="field_dateTo">Date To</label>
            <div class="input-group">
                <input id="field_dateTo" type="text" class="form-control" name="dateTo" ngbDatepicker  #dateToDp="ngbDatepicker" [(ngModel)]="emEmpOrgWorkPlaces.dateTo"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateToDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.workHistoryCoefficient" for="field_workHistoryCoefficient">Work History Coefficient</label>
            <input type="number" class="form-control" name="workHistoryCoefficient" id="field_workHistoryCoefficient"
                [(ngModel)]="emEmpOrgWorkPlaces.workHistoryCoefficient" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="emEmpOrgWorkPlaces.createdBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.createdAt" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="emEmpOrgWorkPlaces.createdAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                [(ngModel)]="emEmpOrgWorkPlaces.updatedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.updatedAt" for="field_updatedAt">Updated At</label>
            <div class="d-flex">
                <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="emEmpOrgWorkPlaces.updatedAt"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.idEmployee" for="field_idEmployee">Id Employee</label>
            <select class="form-control" id="field_idEmployee" name="idEmployee" [(ngModel)]="emEmpOrgWorkPlaces.idEmployee">
                <option [ngValue]="null"></option>
                <option [ngValue]="emEmployeesOption.id === emEmpOrgWorkPlaces.idEmployee?.id ? emEmpOrgWorkPlaces.idEmployee : emEmployeesOption" *ngFor="let emEmployeesOption of idemployees; trackBy: trackEmEmployeesById">{{emEmployeesOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.idContractType" for="field_idContractType">Id Contract Type</label>
            <select class="form-control" id="field_idContractType" name="idContractType" [(ngModel)]="emEmpOrgWorkPlaces.idContractType">
                <option [ngValue]="null"></option>
                <option [ngValue]="emContractTypesOption.id === emEmpOrgWorkPlaces.idContractType?.id ? emEmpOrgWorkPlaces.idContractType : emContractTypesOption" *ngFor="let emContractTypesOption of idcontracttypes; trackBy: trackEmContractTypesById">{{emContractTypesOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpOrgWorkPlaces.idOrgWorkPlace" for="field_idOrgWorkPlace">Id Org Work Place</label>
            <select class="form-control" id="field_idOrgWorkPlace" name="idOrgWorkPlace" [(ngModel)]="emEmpOrgWorkPlaces.idOrgWorkPlace">
                <option [ngValue]="null"></option>
                <option [ngValue]="ogOrgWorkPlacesOption.id === emEmpOrgWorkPlaces.idOrgWorkPlace?.id ? emEmpOrgWorkPlaces.idOrgWorkPlace : ogOrgWorkPlacesOption" *ngFor="let ogOrgWorkPlacesOption of idorgworkplaces; trackBy: trackOgOrgWorkPlacesById">{{ogOrgWorkPlacesOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
