<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.emEmpFamilies.home.title">Em Emp Families</span>
        <button class="btn btn-primary float-right jh-create-entity create-em-emp-families" [routerLink]="['/', { outlets: { popup: ['em-emp-families-new/'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.emEmpFamilies.home.createLabel">
            Create new Em Emp Families
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="emEmpFamilies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.name">Name</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.middleName">Middle Name</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.surname">Surname</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.maidenName">Maiden Name</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.identificationNumber">Identification Number</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.createdBy">Created By</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.createdAt">Created At</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.idFamily">Id Family</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpFamilies.idEmployee">Id Employee</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emEmpFamilies of emEmpFamilies ;trackBy: trackId">
                <td><a [routerLink]="['../em-emp-families', emEmpFamilies.id ]">{{emEmpFamilies.id}}</a></td>
                <td>{{emEmpFamilies.name}}</td>
                <td>{{emEmpFamilies.middleName}}</td>
                <td>{{emEmpFamilies.surname}}</td>
                <td>{{emEmpFamilies.maidenName}}</td>
                <td>{{emEmpFamilies.identificationNumber}}</td>
                <td>{{emEmpFamilies.createdBy}}</td>
                <td>{{emEmpFamilies.createdAt | date:'medium'}}</td>
                <td>{{emEmpFamilies.updatedBy}}</td>
                <td>{{emEmpFamilies.updatedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="emEmpFamilies.idFamily">
                        <a [routerLink]="['../rg-family-roles', emEmpFamilies.idFamily?.id ]" >{{emEmpFamilies.idFamily?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emEmpFamilies.idEmployee">
                        <a [routerLink]="['../em-employees', emEmpFamilies.idEmployee?.id ]" >{{emEmpFamilies.idEmployee?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../em-emp-families', emEmpFamilies.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-emp-families/'+ emEmpFamilies.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-emp-families/'+ emEmpFamilies.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
