
<div *ngIf="rgRegionTypes">
    <h2><span jhiTranslate="hcmEmpApp.rgRegionTypes.detail.title">Rg Region Types</span> {{rgRegionTypes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hcmEmpApp.rgRegionTypes.code">Code</span></dt>
        <dd>
            <span>{{rgRegionTypes.code}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgRegionTypes.name">Name</span></dt>
        <dd>
            <span>{{rgRegionTypes.name}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgRegionTypes.description">Description</span></dt>
        <dd>
            <span>{{rgRegionTypes.description}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgRegionTypes.createdBy">Created By</span></dt>
        <dd>
            <span>{{rgRegionTypes.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgRegionTypes.createdAt">Created At</span></dt>
        <dd>
            <span>{{rgRegionTypes.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgRegionTypes.updatedBy">Updated By</span></dt>
        <dd>
            <span>{{rgRegionTypes.updatedBy}}</span>
        </dd>
        <dt><span jhiTranslate="hcmEmpApp.rgRegionTypes.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{rgRegionTypes.updatedAt | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rg-region-types/'+ rgRegionTypes.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
