<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmEmployeesLabel" jhiTranslate="hcmEmpApp.emEmployees.home.createOrEditLabel">Create or edit a Em Employees</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!emEmployees.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="emEmployees.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="emEmployees.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="emEmployees.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.middleName" for="field_middleName">Middle Name</label>
            <input type="text" class="form-control" name="middleName" id="field_middleName"
                [(ngModel)]="emEmployees.middleName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                [(ngModel)]="emEmployees.surname" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.maidenName" for="field_maidenName">Maiden Name</label>
            <input type="text" class="form-control" name="maidenName" id="field_maidenName"
                [(ngModel)]="emEmployees.maidenName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.disabilityDegree" for="field_disabilityDegree">Disability Degree</label>
            <input type="number" class="form-control" name="disabilityDegree" id="field_disabilityDegree"
                [(ngModel)]="emEmployees.disabilityDegree" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.ethnicGroup" for="field_ethnicGroup">Ethnic Group</label>
            <input type="text" class="form-control" name="ethnicGroup" id="field_ethnicGroup"
                [(ngModel)]="emEmployees.ethnicGroup" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                [(ngModel)]="emEmployees.gender" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.residentialSituation" for="field_residentialSituation">Residential Situation</label>
            <input type="text" class="form-control" name="residentialSituation" id="field_residentialSituation"
                [(ngModel)]="emEmployees.residentialSituation" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.maritalStatus" for="field_maritalStatus">Marital Status</label>
            <input type="text" class="form-control" name="maritalStatus" id="field_maritalStatus"
                [(ngModel)]="emEmployees.maritalStatus" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.bloodGroup" for="field_bloodGroup">Blood Group</label>
            <input type="text" class="form-control" name="bloodGroup" id="field_bloodGroup"
                [(ngModel)]="emEmployees.bloodGroup" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
            <div class="input-group">
                <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker  #dateOfBirthDp="ngbDatepicker" [(ngModel)]="emEmployees.dateOfBirth"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.hireDate" for="field_hireDate">Hire Date</label>
            <div class="input-group">
                <input id="field_hireDate" type="text" class="form-control" name="hireDate" ngbDatepicker  #hireDateDp="ngbDatepicker" [(ngModel)]="emEmployees.hireDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="hireDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.ssn" for="field_ssn">Ssn</label>
            <input type="text" class="form-control" name="ssn" id="field_ssn"
                [(ngModel)]="emEmployees.ssn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.taxNumber" for="field_taxNumber">Tax Number</label>
            <input type="text" class="form-control" name="taxNumber" id="field_taxNumber"
                [(ngModel)]="emEmployees.taxNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="emEmployees.createdBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.createdAt" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="emEmployees.createdAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                [(ngModel)]="emEmployees.updatedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.updatedAt" for="field_updatedAt">Updated At</label>
            <div class="d-flex">
                <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="emEmployees.updatedAt"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.idQualification" for="field_idQualification">Id Qualification</label>
            <select class="form-control" id="field_idQualification" name="idQualification" [(ngModel)]="emEmployees.idQualification">
                <option [ngValue]="null"></option>
                <option [ngValue]="rgQualificationsOption.id === emEmployees.idQualification?.id ? emEmployees.idQualification : rgQualificationsOption" *ngFor="let rgQualificationsOption of idqualifications; trackBy: trackRgQualificationsById">{{rgQualificationsOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.idEmploymentType" for="field_idEmploymentType">Id Employment Type</label>
            <select class="form-control" id="field_idEmploymentType" name="idEmploymentType" [(ngModel)]="emEmployees.idEmploymentType">
                <option [ngValue]="null"></option>
                <option [ngValue]="emEmpTypesOption.id === emEmployees.idEmploymentType?.id ? emEmployees.idEmploymentType : emEmpTypesOption" *ngFor="let emEmpTypesOption of idemploymenttypes; trackBy: trackEmEmpTypesById">{{emEmpTypesOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.idLegalEntity" for="field_idLegalEntity">Id Legal Entity</label>
            <select class="form-control" id="field_idLegalEntity" name="idLegalEntity" [(ngModel)]="emEmployees.idLegalEntity">
                <option [ngValue]="null"></option>
                <option [ngValue]="leLegalEntitiesOption.id === emEmployees.idLegalEntity?.id ? emEmployees.idLegalEntity : leLegalEntitiesOption" *ngFor="let leLegalEntitiesOption of idlegalentities; trackBy: trackLeLegalEntitiesById">{{leLegalEntitiesOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.idStatus" for="field_idStatus">Id Status</label>
            <select class="form-control" id="field_idStatus" name="idStatus" [(ngModel)]="emEmployees.idStatus">
                <option [ngValue]="null"></option>
                <option [ngValue]="emStatusesOption.id === emEmployees.idStatus?.id ? emEmployees.idStatus : emStatusesOption" *ngFor="let emStatusesOption of idstatuses; trackBy: trackEmStatusesById">{{emStatusesOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmployees.idUser" for="field_idUser">Id User</label>
            <select class="form-control" id="field_idUser" name="idUser" [(ngModel)]="emEmployees.idUser" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === emEmployees.idUser?.id ? emEmployees.idUser : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
