<form class="form-horizontal" role="form">
    <div class="panel-footer p-b-20 p-t-20 m-b-10">
        <i class="ti-check-box m-r-5 heading-icon-at"></i>
        <span class="heading-at" jhiTranslate="global.employees.accomplishments">ACCOMPLISHMENTS</span>
        <div *ngIf="isEditable" class="dropdown user-pro-body pull-right">
            <a [routerLink]="['/', { outlets: {popup: 'em-emp-accomplishments-new/'+ employeeId} }]" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus action-button-at"></i>
            </a>
        </div>
    </div>
    <div class="form-body">
        <div *ngIf="certifications?.length > 0">
            <div class="box-title p-b-10 p-t-10 p-r-10">
                <i class="fa icon-badge m-r-5 m-l-15 section-icon-at"></i>
                <span class="section-title section-title-at" jhiTranslate="hcmEmpApp.emEmpAccomplishments.certifications">CERTIFICATIONS</span>
            </div>
            <hr class="m-t-0 m-b-40">
            <div *ngFor="let accomplishment of certifications">
                <div class="row">
                    <div *ngIf="isEditable" class="col-md-12 pull-right">
                        <a class="popup-with-form btn btn-danger btn-sm pull-right" style="font-size:20px; padding-top: 0px" [routerLink]="['/', { outlets: {popup: 'em-emp-accomplishments/'+ accomplishment.id + '/delete'} }]">
                            <span class="fa fa-remove pull-right"></span>
                        </a>
                        <a class="popup-with-form" (click)="navigateEdit(accomplishment.id)">
                            <i class="fa fa-pencil action-button-at pull-right"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{accomplishment?.idAccomplishmentType.name}} <span jhiTranslate="hcmEmpApp.emEmpAccomplishments.name">name</span>:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.title}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.link">Link:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.link}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.dateFrom">From:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.dateFrom | date:'dd/MM/yyyy'}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.dateTo">To:</label>
                            <div class="col-md-9">
                                <p *ngIf="!checkIsPresent(accomplishment?.ongoing)" class="form-control-static"> {{accomplishment?.dateTo | date:'dd/MM/yyyy'}} </p>
                                <button *ngIf="checkIsPresent(accomplishment?.ongoing)" class="btn btn-success btn-rounded btn-sm" type="button" disabled name="ongoing" jhiTranslate="hcmEmpApp.emEmpAccomplishments.present">Present <i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.licenceNumber">Licence Number:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.licenceNumber}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.certAuthority">Certification Authority:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.association}} </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.rating">Rating:</label>
                            <div class="col-md-9">
                                <div [attr.data-label]="accomplishment?.rating"
                                     [ngClass]="getBar(accomplishment?.rating)" class="css-bar css-bar-lg m-b-0 m-r-10 css-bar-info ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-t-0 m-b-40">
             </div>
        </div>


        <div *ngIf="courses?.length > 0">
            <div class="box-title p-b-10 p-t-10 p-r-10">
                <i class="fa icon-notebook m-r-5 m-l-15 section-icon-at"></i>
                <span class="section-title section-title-at" jjhiTranslate="hcmEmpApp.emEmpAccomplishments.courses">COURSES</span>
            </div>
            <hr class="m-t-0 m-b-40">
            <div *ngFor="let accomplishment of courses">
                <div class="row">
                    <div *ngIf="isEditable" class="col-md-12 pull-right">
                        <a class="popup-with-form btn btn-danger btn-sm pull-right" style="font-size:20px; padding-top: 0px" [routerLink]="['/', { outlets: {popup: 'em-emp-accomplishments/'+ accomplishment.id + '/delete'} }]">
                            <span class="fa fa-remove pull-right"></span>
                        </a>
                        <a class="popup-with-form" (click)="navigateEdit(accomplishment.id)">
                            <i class="fa fa-pencil action-button-at pull-right"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{accomplishment?.idAccomplishmentType.name}} <span jhiTranslate="hcmEmpApp.emEmpAccomplishments.name">name</span>:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.title}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.link">Link:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.link}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.dateFrom">From:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.dateFrom | date:'dd/MM/yyyy'}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.dateTo">To:</label>
                            <div class="col-md-9">
                                <p *ngIf="!checkIsPresent(accomplishment?.ongoing)" class="form-control-static"> {{accomplishment?.dateTo | date:'dd/MM/yyyy'}} </p>
                                <button *ngIf="checkIsPresent(accomplishment?.ongoing)" class="btn btn-success btn-rounded btn-sm" type="button" disabled name="ongoing">Present <i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.description">Description:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.description}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.rating">Rating:</label>
                            <div class="col-md-9">
                                <div [attr.data-label]="accomplishment?.rating"
                                     [ngClass]="getBar(accomplishment?.rating)" class="css-bar css-bar-lg m-b-0 m-r-10 css-bar-info ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-t-0 m-b-40">
            </div>
        </div>

        <div *ngIf="honors?.length > 0">
            <div class="box-title p-b-10 p-t-10 p-r-10">
                <i class="fa icon-trophy m-r-5 m-l-15 section-icon-at"></i>
                <span class="section-title section-title-at" jhiTranslate="hcmEmpApp.emEmpAccomplishments.honorsAndAwards">HONORS AND AWARDS</span>
            </div>
            <hr class="m-t-0 m-b-40">
            <div *ngFor="let accomplishment of honors">
                <div class="row">
                    <div *ngIf="isEditable" class="col-md-12 pull-right">
                        <a class="popup-with-form btn btn-danger btn-sm pull-right" style="font-size:20px; padding-top: 0px" [routerLink]="['/', { outlets: {popup: 'em-emp-accomplishments/'+ accomplishment.id + '/delete'} }]">
                            <span class="fa fa-remove pull-right"></span>
                        </a>
                        <a class="popup-with-form" (click)="navigateEdit(accomplishment.id)">
                            <i class="fa fa-pencil action-button-at pull-right"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{accomplishment?.idAccomplishmentType.name}} <span jhiTranslate="hcmEmpApp.emEmpAccomplishments.name">name</span>:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.title}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.link">Link:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.link}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.date">Date:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.dateFrom | date:'dd/MM/yyyy'}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.description">Description:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.description}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.rating">Rating:</label>
                            <div class="col-md-9">
                                <div [attr.data-label]="accomplishment?.rating"
                                     [ngClass]="getBar(accomplishment?.rating)" class="css-bar css-bar-lg m-b-0 m-r-10 css-bar-info ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-t-0 m-b-40">
            </div>
        </div>


        <div *ngIf="languages?.length > 0">
            <div class="box-title p-b-10 p-t-10 p-r-10">
                <i class="fa ti-announcement m-r-5 m-l-15 section-icon-at"></i>
                <span class="section-title section-title-at" jhiTranslate="hcmEmpApp.emEmpAccomplishments.languages">LANGUAGES</span>
            </div>
            <hr class="m-t-0 m-b-40">
            <div *ngFor="let accomplishment of languages">
                <div class="row">
                    <div *ngIf="isEditable" class="col-md-12 pull-right">
                        <a class="popup-with-form btn btn-danger btn-sm pull-right" style="font-size:20px; padding-top: 0px" [routerLink]="['/', { outlets: {popup: 'em-emp-accomplishments/'+ accomplishment.id + '/delete'} }]">
                            <span class="fa fa-remove pull-right"></span>
                        </a>
                        <a class="popup-with-form" (click)="navigateEdit(accomplishment.id)">
                            <i class="fa fa-pencil action-button-at pull-right"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{accomplishment?.idAccomplishmentType.name}} <span jhiTranslate="hcmEmpApp.emEmpAccomplishments.name">name</span>:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.title}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.proficiency">Proficiency:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.proficiency}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-md-6 col-md-offset-6">-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-md-3">Rating:</label>-->
                            <!--<div class="col-md-9">-->
                                <!--<div data-label="4.5" class="css-bar css-bar-90 css-bar-lg m-b-0 m-r-10 css-bar-info ">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <hr class="m-t-0 m-b-40">
            </div>
        </div>

        <div *ngIf="projects?.length > 0">
            <div class="box-title p-b-10 p-t-10 p-r-10">
                <i class="fa ti-blackboard m-r-5 m-l-15 section-icon-at"></i>
                <span class="section-title section-title-at" jhiTranslate="hcmEmpApp.emEmpAccomplishments.projects">PROJECTS</span>
            </div>
            <hr class="m-t-0 m-b-40">
            <div *ngFor="let accomplishment of projects">
                <div class="row">
                    <div *ngIf="isEditable" class="col-md-12 pull-right">
                        <a class="popup-with-form btn btn-danger btn-sm pull-right" style="font-size:20px; padding-top: 0px" [routerLink]="['/', { outlets: {popup: 'em-emp-accomplishments/'+ accomplishment.id + '/delete'} }]">
                            <span class="fa fa-remove pull-right"></span>
                        </a>
                        <a class="popup-with-form" (click)="navigateEdit(accomplishment.id)">
                            <i class="fa fa-pencil action-button-at pull-right"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{accomplishment?.idAccomplishmentType.name}} <span jhiTranslate="hcmEmpApp.emEmpAccomplishments.name">name</span>:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.title}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.link">Link:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.link}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.dateFrom">From:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.dateFrom | date:'dd/MM/yyyy'}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.dateTo">To:</label>
                            <div class="col-md-9">
                                <p *ngIf="!checkIsPresent(accomplishment?.ongoing)" class="form-control-static"> {{accomplishment?.dateTo | date:'dd/MM/yyyy'}} </p>
                                <button *ngIf="checkIsPresent(accomplishment?.ongoing)" class="btn btn-success btn-rounded btn-sm" type="button" disabled name="ongoing">Present <i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.description">Description:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.description}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.occupation">Occupation:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.occupation}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.rating">Rating:</label>
                            <div class="col-md-9">
                                <div [attr.data-label]="accomplishment?.rating"
                                     [ngClass]="getBar(accomplishment?.rating)" class="css-bar css-bar-lg m-b-0 m-r-10 css-bar-info ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-t-0 m-b-40">
            </div>
        </div>

        <div *ngIf="publications?.length > 0">
            <div class="box-title p-b-10 p-t-10 p-r-10">
                <i class="fa ti-write m-r-5 m-l-15 section-icon-at"></i>
                <span class="section-title section-title-at" jhiTranslate="hcmEmpApp.emEmpAccomplishments.publications">PUBLICATIONS</span>
            </div>
            <hr class="m-t-0 m-b-40">
            <div *ngFor="let accomplishment of publications">
                <div class="row">
                    <div *ngIf="isEditable" class="col-md-12 pull-right">
                        <a class="popup-with-form btn btn-danger btn-sm pull-right" style="font-size:20px; padding-top: 0px" [routerLink]="['/', { outlets: {popup: 'em-emp-accomplishments/'+ accomplishment.id + '/delete'} }]">
                            <span class="fa fa-remove pull-right"></span>
                        </a>
                        <a class="popup-with-form" (click)="navigateEdit(accomplishment.id)">
                            <i class="fa fa-pencil action-button-at pull-right"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">{{accomplishment?.idAccomplishmentType.name}} <span jhiTranslate="hcmEmpApp.emEmpAccomplishments.name">name</span>:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.title}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.link">Link:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.link}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.date">Date:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.dateFrom | date:'dd/MM/yyyy'}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.description">Description:</label>
                            <div class="col-md-9">
                                <p class="form-control-static"> {{accomplishment?.description}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="form-group">
                            <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpAccomplishments.rating">Rating:</label>
                            <div class="col-md-9">
                                <div [attr.data-label]="accomplishment?.rating"
                                     [ngClass]="getBar(accomplishment?.rating)" class="css-bar css-bar-lg m-b-0 m-r-10 css-bar-info ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-t-0 m-b-40">
            </div>
        </div>




    </div>
</form>
