<form class="form-horizontal" role="form">
    <div class="panel-footer p-b-20 p-t-20 m-b-10">
        <i class="icon-graduation m-r-5 heading-icon-at"></i>
        <span class="heading-at">EDUCATION</span>
        <div class="pull-right">
            <a class="popup-with-form" href="#edit-form3">
                <i class="fa fa-plus action-button-at"></i>
            </a>
        </div>
    </div>
    <div class="form-body">
        <div class="box-title p-b-10 p-t-10 p-r-10">
            <span class="section-title">School of Economics and Business Sarajevo</span>
            <div class="pull-right">
                <a class="popup-with-form" href="#edit-form4">
                    <i class="fa fa-pencil action-button-at"></i>
                </a>
            </div>
        </div>
        <hr class="m-t-0 m-b-40">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Degree:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> Master's degree </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Field of study:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> Strategic Information Management </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">From year:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> 2010 </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">To year <br>(or expected):</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> 2015 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Grade:</label>
                    <div class="col-md-9">
                        <p class="form-control-static">  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Description:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> Join Master programme with Faculty of Economics of University in Zagreb "MA + 1" </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="box-title p-b-10 p-t-10 p-r-10">
            <span class="section-title">Faculty of Electrical Engineering</span>
            <div class="pull-right">
                <a class="popup-with-form" href="#edit-form4">
                    <i class="fa fa-pencil action-button-at"></i>
                </a>
            </div>
        </div>
        <hr class="m-t-0 m-b-40">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Degree:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> Bachelor's degree </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Field of study:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> Computing </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">From year:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> 2006 </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">To year <br>(or expected):</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> 2010 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Grade:</label>
                    <div class="col-md-9">
                        <p class="form-control-static">  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Description:</label>
                    <div class="col-md-9">
                        <p class="form-control-static">  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
