<form class="form-horizontal" role="form">
    <div class="panel-footer p-b-20 p-t-20 m-b-10">
        <i class="icon-graduation m-r-5 heading-icon-at"></i>
        <span class="heading-at" jhiTranslate="global.employees.education">EDUCATION</span>
        <div *ngIf="isEditable" class="pull-right">
            <a class="popup-with-form" [routerLink]="['/', { outlets: {popup: 'em-emp-schools-new/'+ employeeId} }]">
                <i class="fa fa-plus action-button-at"></i>
            </a>
        </div>
    </div>
    <div *ngFor="let emEmpSchool of emEmpSchools" class="form-body">
        <div class="box-title p-b-10 p-t-10 p-r-10">
            <span class="section-title">{{emEmpSchool.idSchool.name}}</span>
            <div *ngIf="isEditable" class="pull-right">
                <a class="popup-with-form btn btn-danger btn-sm pull-right" style="font-size:20px; padding-top: 0px" [routerLink]="['/', { outlets: {popup: 'em-emp-schools/'+ emEmpSchool.id + '/delete'} }]">
                    <span class="fa fa-remove pull-right"></span>
                </a>
                <a class="popup-with-form" (click)="navigateEdit(emEmpSchool.id)">
                    <i class="fa fa-pencil action-button-at pull-right"></i>
                </a>
            </div>
        </div>
        <hr class="m-t-0 m-b-40">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpSchools.degree">Degree:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {{emEmpSchool.degree}} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpSchools.fieldOfStudy">Field of study:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {{emEmpSchool.major}} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpSchools.fromYear">From year:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {{emEmpSchool.dateFrom}} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpSchools.toYear">To year <br>(or expected):</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {{emEmpSchool.dateTo}} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpSchools.grade">Grade:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {{emEmpSchool.grade}} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3" jhiTranslate="hcmEmpApp.emEmpSchools.description">Description:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {{emEmpSchool.description}} </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
</form>
