<form class="form-horizontal" role="form">
    <div class="panel-footer p-b-20 p-t-20 m-b-10">
        <i class="icon-notebook m-r-5 heading-icon-at"></i>
        <span class="heading-at">Notes</span>
        <div class="pull-right">
            <a class="popup-with-form" [routerLink]="['/', { outlets: {popup: 'em-emp-notes-new'} }]">
                <i class="fa fa-plus action-button-at"></i>
            </a>
        </div>
    </div>
    <div class="form-body" *ngFor="let note of notes | orderBy:'updatedAt':true">
        <div class="box-title">{{note?.title}}, {{note?.updatedAt | date:'dd/MM/yyyy HH:mm'}}</div>
            <div class="pull-right">
                <a class="popup-with-form" [routerLink]="['/', { outlets: {popup: 'em-emp-notes/'+ note.id + '/edit'} }]">
                    <i class="fa fa-pencil action-button-at"></i>
                </a>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group p-l-20 p-r-20">
                    <span class="hide-menu">{{note?.decsription}} </span>
                </div>
            </div>
        </div>
    </div>
</form>
