<form class="form-horizontal" role="form">
    <div class="panel-footer p-b-20 p-t-20 m-b-10">
        <i class="icon-notebook m-r-5 heading-icon-at"></i>
        <span class="heading-at">Notes</span>
        <div class="pull-right">
            <a class="popup-with-form" href="#edit-form3">
                <i class="fa fa-plus action-button-at"></i>
            </a>
        </div>
    </div>
    <div class="form-body">
        <div class="box-title p-b-10 p-t-10 p-r-10">
            <span class="hide-menu">Mary Gothan, 15-NOV-2017 at 13:35</span>
            <div class="pull-right">
                <a class="popup-with-form" href="#edit-form2">
                    <i class="fa fa-pencil action-button-at"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group p-l-20 p-r-20">
                                                                                    <span class="hide-menu">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus, felis interdum condimentum consectetur,
                                                                                        nisl libero elementum eros, vehicula congue lacus eros non diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                                                            Vivamus mauris lorem, lacinia id tempus non, imperdiet et leo. Cras sit amet erat sit amet lacus egestas placerat.
                                                                                            Aenean ultricies ultrices mauris ac congue. In vel tortor vel velit tristique tempus ac id nisi. Proin quis lorem velit. Nunc dui dui, blandit a ullamcorper vitae,
                                                                                            congue fringilla lectus. Aliquam ultricies malesuada feugiat. Vestibulum placerat turpis et eros lobortis vel semper sapien pulvinar.
                                                                                    </span>
                </div>
            </div>
        </div>
        <div class="box-title p-b-10 p-t-10 p-r-10">
            <span class="hide-menu">Mary Gothan, 10-OCT-2016 at 09:30</span>
            <div class="pull-right">
                <a class="popup-with-form" href="#edit-form2">
                    <i class="fa fa-pencil action-button-at"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group p-l-20 p-r-20">
                                                                                            <span class="hide-menu">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus, felis interdum condimentum consectetur,
                                                                                                nisl libero elementum eros, vehicula congue lacus eros non diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                                                                    Vivamus mauris lorem, lacinia id tempus non, imperdiet et leo. Cras sit amet erat sit amet lacus egestas placerat.
                                                                                                    Aenean ultricies ultrices mauris ac congue. In vel tortor vel velit tristique tempus ac id nisi. Proin quis lorem velit. Nunc dui dui, blandit a ullamcorper vitae,
                                                                                                    congue fringilla lectus. Aliquam ultricies malesuada feugiat. Vestibulum placerat turpis et eros lobortis vel semper sapien pulvinar.
                                                                                            </span>
                </div>
            </div>
        </div>
    </div>
</form>
