/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.login-shadow{
    box-shadow: 0 0px 1px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
}
.add-transparency{
    opacity:0.9;
}
@media (max-width: 767px){
    .login-register {
        position: fixed;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.login-box {
    background: #fff;
    width: 800px;
    margin: 5% auto 0;
}
/*input:-webkit-autofill:hover{*/
/*-webkit-box-shadow: 0 0 0px 1000px white inset;*/

/*}*/
/*input:-webkit-autofill:focus{*/

/*}*/
