<section id="wrapper" class="login-register">
    <div class="login-box login-shadow add-transparency">
        <div class="white-box text-center">
            <h2 class="text-primary m-b-40">Human Capital Management System</h2>
            <div class="row">
                <div class="col-md-4 col-6">
                    <a (click)="login()">
                        <div class="login-shadow add-transparency">
                            <div class="white-box text-center" style="background: #03a9f3!important;">
                                <i class="fa fa-briefcase fa-2x" aria-hidden="true" style="color:white;"></i>
                                <div class="bodystate">
                                    <h4 class="text-center" style="color:white;">Employees</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="http://77.78.198.19:4200/login">
                        <div class="login-shadow add-transparency">
                            <div class="white-box text-center" style="background: #00c292!important;">
                                <i class="fa fa-users fa-2x" aria-hidden="true" style="color:white;"></i>
                                <div class="bodystate">
                                    <h4 class="text-center" style="color:white;">Job Openings</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <div class="login-shadow add-transparency">
                        <div class="white-box text-center" style="background: #fb9678!important;">
                            <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:white;"></i>
                            <div class="bodystate">
                                <h4 class="text-center" style="color:white;">Trainings</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="login-shadow add-transparency">
                        <div class="white-box text-center" style="background: #fb9678!important;">
                            <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:white;"></i>
                            <div class="bodystate">
                                <h4 class="text-center" style="color:white;">Time Off</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="login-shadow add-transparency">
                        <div class="white-box text-center" style="background: #fb9678!important;">
                            <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:white;"></i>
                            <div class="bodystate">
                                <h4 class="text-center" style="color:white;">Payroll</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="login-shadow add-transparency">
                        <div class="white-box text-center" style="background: #fb9678!important;">
                            <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:white;"></i>
                            <div class="bodystate">
                                <h4 class="text-center" style="color:white;">Reports</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="login-shadow add-transparency">
                        <div class="white-box text-center" style="background: #fb9678!important;">
                            <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:white;"></i>
                            <div class="bodystate">
                                <h4 class="text-center" style="color:white;">Files</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="login-shadow add-transparency">
                        <div class="white-box text-center" style="background: #fb9678!important;">
                            <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:white;"></i>
                            <div class="bodystate">
                                <h4 class="text-center" style="color:white;">Announcements</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="login-shadow add-transparency">
                        <div class="white-box text-center" style="background: #fb9678!important;">
                            <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:white;"></i>
                            <div class="bodystate">
                                <h4 class="text-center" style="color:white;">Departments</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="login-shadow add-transparency">
                        <div class="white-box text-center" style="background: #fb9678!important;">
                            <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:white;"></i>
                            <div class="bodystate">
                                <h4 class="text-center" style="color:white;">Jobs</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
