<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.emEmpSchools.home.title">Em Emp Schools</span>
        <button class="btn btn-primary float-right jh-create-entity create-em-emp-schools" [routerLink]="['/', { outlets: { popup: ['em-emp-schools-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.emEmpSchools.home.createLabel">
            Create new Em Emp Schools
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="emEmpSchools">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateFrom"><span jhiTranslate="hcmEmpApp.emEmpSchools.dateFrom">Date From</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateTo"><span jhiTranslate="hcmEmpApp.emEmpSchools.dateTo">Date To</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="major"><span jhiTranslate="hcmEmpApp.emEmpSchools.major">Major</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="degree"><span jhiTranslate="hcmEmpApp.emEmpSchools.degree">Degree</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="grade"><span jhiTranslate="hcmEmpApp.emEmpSchools.grade">Grade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="hcmEmpApp.emEmpSchools.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="hcmEmpApp.emEmpSchools.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdAt"><span jhiTranslate="hcmEmpApp.emEmpSchools.createdAt">Created At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedBy"><span jhiTranslate="hcmEmpApp.emEmpSchools.updatedBy">Updated By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedAt"><span jhiTranslate="hcmEmpApp.emEmpSchools.updatedAt">Updated At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idSchool.name"><span jhiTranslate="hcmEmpApp.emEmpSchools.idSchool">Id School</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idEmployee.id"><span jhiTranslate="hcmEmpApp.emEmpSchools.idEmployee">Id Employee</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idQualification.name"><span jhiTranslate="hcmEmpApp.emEmpSchools.idQualification">Id Qualification</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emEmpSchools of emEmpSchools ;trackBy: trackId">
                <td><a [routerLink]="['../em-emp-schools', emEmpSchools.id ]">{{emEmpSchools.id}}</a></td>
                <td>{{emEmpSchools.dateFrom | date:'mediumDate'}}</td>
                <td>{{emEmpSchools.dateTo | date:'mediumDate'}}</td>
                <td>{{emEmpSchools.major}}</td>
                <td>{{emEmpSchools.degree}}</td>
                <td>{{emEmpSchools.grade}}</td>
                <td>{{emEmpSchools.description}}</td>
                <td>{{emEmpSchools.createdBy}}</td>
                <td>{{emEmpSchools.createdAt | date:'medium'}}</td>
                <td>{{emEmpSchools.updatedBy}}</td>
                <td>{{emEmpSchools.updatedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="emEmpSchools.idSchool">
                        <a [routerLink]="['../rg-schools', emEmpSchools.idSchool?.id ]" >{{emEmpSchools.idSchool?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emEmpSchools.idEmployee">
                        <a [routerLink]="['../em-employees', emEmpSchools.idEmployee?.id ]" >{{emEmpSchools.idEmployee?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emEmpSchools.idQualification">
                        <a [routerLink]="['../rg-qualifications', emEmpSchools.idQualification?.id ]" >{{emEmpSchools.idQualification?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../em-emp-schools', emEmpSchools.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-emp-schools/'+ emEmpSchools.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-emp-schools/'+ emEmpSchools.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="emEmpSchools && emEmpSchools.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
