<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmEmpSchoolsLabel" jhiTranslate="hcmEmpApp.emEmpSchools.home.createOrEditLabel">Create or edit a Em Emp Schools</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!emEmpSchools.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="emEmpSchools.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpSchools.idSchool" for="field_idSchool">School name</label>
            <select class="form-control" id="field_idSchool" name="idSchool" [(ngModel)]="emEmpSchools.idSchool">
                <option [ngValue]="null"></option>
                <option [ngValue]="rgSchoolsOption.id === emEmpSchools.idSchool?.id ? emEmpSchools.idSchool : rgSchoolsOption" *ngFor="let rgSchoolsOption of idschools; trackBy: trackRgSchoolsById">{{rgSchoolsOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpSchools.idQualification" for="field_idQualification">Qualification</label>
            <select class="form-control" id="field_idQualification" name="idQualification" [(ngModel)]="emEmpSchools.idQualification">
                <option [ngValue]="null"></option>
                <option [ngValue]="rgQualificationsOption.id === emEmpSchools.idQualification?.id ? emEmpSchools.idQualification : rgQualificationsOption" *ngFor="let rgQualificationsOption of idqualifications; trackBy: trackRgQualificationsById">{{rgQualificationsOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpSchools.dateFrom" for="field_dateFrom">Date From</label>
            <div class="input-group">
                <input id="field_dateFrom" type="text" class="form-control" name="dateFrom" ngbDatepicker  #dateFromDp="ngbDatepicker" [(ngModel)]="emEmpSchools.dateFrom"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateFromDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpSchools.dateTo" for="field_dateTo">Date To</label>
            <div class="input-group">
                <input id="field_dateTo" type="text" class="form-control" name="dateTo" ngbDatepicker  #dateToDp="ngbDatepicker" [(ngModel)]="emEmpSchools.dateTo"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateToDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpSchools.major" for="field_major">Major</label>
            <input type="text" class="form-control" name="major" id="field_major"
                   [(ngModel)]="emEmpSchools.major" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpSchools.degree" for="field_degree">Degree</label>
            <input type="text" class="form-control" name="degree" id="field_degree"
                   [(ngModel)]="emEmpSchools.degree" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpSchools.grade" for="field_grade">Grade</label>
            <input type="number" class="form-control" name="grade" id="field_grade"
                   [(ngModel)]="emEmpSchools.grade" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emEmpSchools.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   [(ngModel)]="emEmpSchools.description" />
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
