/* ==========================================================================
Right-to-Left support
========================================================================== */

html[dir=rtl] .col-xs-1,
html[dir=rtl] .col-xs-2,
html[dir=rtl] .col-xs-3,
html[dir=rtl] .col-xs-4,
html[dir=rtl] .col-xs-5,
html[dir=rtl] .col-xs-6,
html[dir=rtl] .col-xs-7,
html[dir=rtl] .col-xs-8,
html[dir=rtl] .col-xs-9,
html[dir=rtl] .col-xs-10,
html[dir=rtl] .col-xs-11,
html[dir=rtl] .col-xs-12,
html[dir=rtl] .col-sm-1,
html[dir=rtl] .col-sm-2,
html[dir=rtl] .col-sm-3,
html[dir=rtl] .col-sm-4,
html[dir=rtl] .col-sm-5,
html[dir=rtl] .col-sm-6,
html[dir=rtl] .col-sm-7,
html[dir=rtl] .col-sm-8,
html[dir=rtl] .col-sm-9,
html[dir=rtl] .col-sm-10,
html[dir=rtl] .col-sm-11,
html[dir=rtl] .col-sm-12,
html[dir=rtl] .col-md-1,
html[dir=rtl] .col-md-2,
html[dir=rtl] .col-md-3,
html[dir=rtl] .col-md-4,
html[dir=rtl] .col-md-5,
html[dir=rtl] .col-md-6,
html[dir=rtl] .col-md-7,
html[dir=rtl] .col-md-8,
html[dir=rtl] .col-md-9,
html[dir=rtl] .col-md-10,
html[dir=rtl] .col-md-11,
html[dir=rtl] .col-md-12,
html[dir=rtl] .col-lg-1,
html[dir=rtl] .col-lg-2,
html[dir=rtl] .col-lg-3,
html[dir=rtl] .col-lg-4,
html[dir=rtl] .col-lg-5,
html[dir=rtl] .col-lg-6,
html[dir=rtl] .col-lg-7,
html[dir=rtl] .col-lg-8,
html[dir=rtl] .col-lg-9,
html[dir=rtl] .col-lg-10,
html[dir=rtl] .col-lg-11,
html[dir=rtl] .col-lg-12 {
    float: right;
}

html[dir=rtl] body {
    text-align: right;
}

html[dir=rtl] .navbar-nav>li {
    float: right;
}

html[dir=rtl] .dl-horizontal dt {
    float: right;
}

html[dir=rtl] th {
    text-align: right;
}

html[dir=rtl] .dropdown-menu {
    text-align: right;
}

html[dir=rtl] .modal-header .close {
    margin-left: 0rem;
    float: left;
}

html[dir=rtl] .modal-footer {
    text-align: left;
}

html[dir=rtl] .jh-create-entity {
    float: left !important;
}

html[dir=rtl] .form-check-input {
    margin-left: 0rem;
    margin-right: -1.25rem;
}

html[dir=rtl] .form-check-label {
    padding-left: 0rem;
    padding-right: 1.25rem;
}

html[dir=rtl] .input-group .form-control:not(:last-child),
html[dir=rtl] .input-group-addon:not(:last-child),
html[dir=rtl] .input-group-btn:not(:last-child)>.btn,
html[dir=rtl] .input-group-btn:not(:last-child)>.btn-group>.btn,
html[dir=rtl] .input-group-btn:not(:last-child)>.dropdown-toggle,
html[dir=rtl] .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
html[dir=rtl] .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.0rem;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.0rem;
}

html[dir=rtl] .input-group-addon:not(:last-child) {
    border-left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

html[dir=rtl] .input-group .form-control:not(:first-child),
html[dir=rtl] .input-group-addon:not(:first-child),
html[dir=rtl] .input-group-btn:not(:first-child)>.btn,
html[dir=rtl] .input-group-btn:not(:first-child)>.btn-group>.btn,
html[dir=rtl] .input-group-btn:not(:first-child)>.dropdown-toggle,
html[dir=rtl] .input-group-btn:not(:last-child)>.btn:not(:first-child),
html[dir=rtl] .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn {
    border-bottom-right-radius: 0.0rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0.0rem;
    border-top-left-radius: 0.25rem;
}

html[dir=rtl] .form-control+.input-group-addon:not(:first-child) {
    border-right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

html[dir=rtl] .modal-footer> :not(:first-child) {
    margin-left: 0rem;
    margin-right: .25rem;
}

html[dir=rtl] .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.0rem;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.0rem;
}

html[dir=rtl] .btn-group>.btn:last-child:not(:first-child),
html[dir=rtl] .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-right-radius: 0.0rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0.0rem;
    border-top-left-radius: 0.25rem;
}

html[dir=rtl] .btn-group>.btn:first-child {
    margin-right: 0;
}

html[dir=rtl] .page-item:first-child .page-link {
    margin-right: 0;
    margin-left: -1px;
}

html[dir=rtl] .pagination-sm .page-item:first-child .page-link {
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: .2rem;
    border-top-right-radius: .2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-bottom-right-radius: 0.0rem;
    border-top-right-radius: 0.0rem;
    border-bottom-left-radius: .2rem;
    border-top-left-radius: .2rem;
}
html[dir="rtl"] body {
    text-align: right;
}

html[dir="rtl"] #page-wrapper {
    margin: 0 220px 0 0;
}

@media (min-width:768px) {
    html[dir="rtl"] .content-wrapper #page-wrapper {
        margin: 0 60px 0 0;
    }
    html[dir="rtl"] .navbar-right .dropdown-menu {
        left: 0;
        right: auto;
    }
}

html[dir="rtl"] .top-left-part {
    float: right;
}

html[dir="rtl"] .navbar-header {
    float: right;
}


html[dir="rtl"] .nav, html[dir="rtl"] .navbar-top-links {
    padding-right: 0px;
}

html[dir="rtl"] #side-menu > li > a {
    padding: 15px 15px 15px 30px;
}

html[dir="rtl"] .pull-right {
    float: left !important;
}


html[dir="rtl"] #side-menu li a {
    color: #a6acbc;
    border-right: 0px solid #4F5467;
}

html[dir="rtl"] #side-menu > li > a.active {
    border-right: 3px solid #a0aec4;
    border-left: 0px solid #a0aec4;
    color: #ffffff;
    font-weight: 500;
}

/*html[dir="rtl"] b {*/
    /*float: right;*/
/*}*/


html[dir="rtl"] h5 b {
    float: none;
}

html[dir="rtl"] .changeStatus {
    float: right !important;
}


html[dir="rtl"] .grades b {
    float: none;
}

html[dir="rtl"] .form-control+.input-group-addon {
    border-left: 1px solid rgba(120,130,140,.13) !important;
    border-right: 0 !important;
}

html[dir="rtl"] .stylish-input-group .form-control {
    border-left: 0 !important;
    border-right: 1px solid rgba(120,130,140,.13) !important;
}

html[dir="rtl"] .dropdown-toggle::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    /* float: right; */
}

html[dir="rtl"] .sidebar .arrow {
    position: absolute;
    right: auto !important;
    left: 15px !important;
    top: 18px;

}

html[dir="rtl"] .dropdown-toggle::after {
    display: none;
}

html[dir="rtl"] .form-group label {
    float: right;
}
html[dir="rtl"] .navbar-left {
    float: right !important;
}
html[dir="rtl"] #notification {
    left: 0 !important;
    right: auto !important;
}

html[dir="rtl"] .drop-title {
    text-align: right;
}

html[dir="rtl"] #notificationMore{
    text-align: right !important;
}

html[dir="rtl"] .pull-right > .dropdown-menu {
    right: auto;
    left: 0;
}

/* MOBILE */
@media (max-width:768px) {
    html[dir="rtl"] #page-wrapper {
        margin: 0 0 0 0;
    }
}

html[dir="rtl"] b {
    margin-left: 0.5em !important;
}

html[dir="rtl"]  .tab-content {
    padding-left: 0px;
    padding-right: 25px;
}
html[dir="rtl"] .document {
    margin-right: 20px;
}

