<div class="white-box">

    <div class="row">
        <div class="col-sm-2">
            <div class="at-img-align m-b-30">
                <img src="../../../content/images/users/1.jpg" class="img-fluid img-circle" />
            </div>
            <h5><b>John Doe</b></h5>
            <h5><b>Information Systems Architect</b></h5>
            <h5><b>IT dev/ops</b></h5>
            <h5><b>Sarajevo</b></h5>
            <br>
            <h5>Date: 07-DEC-2017</h5>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Vacation days</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Total days: <div class="pull-right">24</div></li>
                    <li class="list-group-item">Used days: <div class="pull-right">14</div></li>
                    <li class="list-group-item">Rest for use: <div class="pull-right">10</div></li>
                </ul>
            </div>
            <br>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Time off</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">National day: <div class="pull-right">25.11.2017</div></li>
                    <li class="list-group-item">Vacation: <div class="pull-right">24.11.2017 - 24.11.2017</div></li>
                    <li class="list-group-item">Vacation: <div class="pull-right">31.07.2017 - 15.08.2017</div></li>
                    <li class="list-group-item">Sick leave: <div class="pull-right">02.10.2017 - 04.10.2017</div></li>
                    <li class="list-group-item">Labor day: <div class="pull-right">01.05.2017 - 02.05.2017</div></li>
                    <li class="list-group-item">Indepedence day: <div class="pull-right">01.03.2017</div></li>
                    <li class="list-group-item"><div class="pull-right"><a href="#" class="card-link">Request time off</a></div></li>
                </ul>
            </div>
            <br>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Who's out on day: 07.12.2017</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">David Sullivan</li>
                    <li class="list-group-item"><div class="pull-right"><a href="#" class="card-link">Change date</a></div></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10">
            <h4><b>Employeer Dashboard</b></h4>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="personal">
                    <form class="form-horizontal" role="form">

                        <div class="card">
                            <div class="panel-footer p-b-20 p-t-20 m-b-10">
                                <i class="icon-user m-r-5 heading-icon-at"></i>
                                <span class="heading-at">Tasks</span>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-6">Creating login page for hcm project</div>
                                        <div class="col-sm-3">12.12.2017</div>
                                        <div class="col-sm-3"><a class="btn btn-success pull-right">Complete task</a> </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-6">Creating login page for hcm project</div>
                                        <div class="col-sm-3">12.12.2017</div>
                                        <div class="col-sm-3"><a class="btn btn-success pull-right">Complete task</a> </div>
                                    </div>
                                </li>
                            </ul>
                        </div><br>
                        <div class="card">
                            <div class="panel-footer p-b-20 p-t-20 m-b-10">
                                <i class="icon-user m-r-5 heading-icon-at"></i>
                                <span class="heading-at">Company Announcements</span>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <a href="#">Non-working days for the new year are 01 and 02 January</a>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago by S.Admin</small></p>
                                        </div>
                                        <div class="col-sm-3"><p class="pull-right">25-DEC-2017</p></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <a href="#">Non-working days for the new year are 01 and 02 January</a>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago by S.Admin</small></p>
                                        </div>
                                        <div class="col-sm-3"><p class="pull-right">25-DEC-2017</p></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <a href="#">Non-working days for the new year are 01 and 02 January</a>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago by S.Admin</small></p>
                                        </div>
                                        <div class="col-sm-3"><p class="pull-right">25-DEC-2017</p></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <a href="#">Non-working days for the new year are 01 and 02 January</a>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago by S.Admin</small></p>
                                        </div>
                                        <div class="col-sm-3"><p class="pull-right">25-DEC-2017</p></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <a href="#">Non-working days for the new year are 01 and 02 January</a>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago by S.Admin</small></p>
                                        </div>
                                        <div class="col-sm-3"><p class="pull-right">25-DEC-2017</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div class="card">
                            <div class="panel-footer p-b-20 p-t-20 m-b-10">
                                <i class="icon-user m-r-5 heading-icon-at"></i>
                                <span class="heading-at">My Trainings</span>
                            </div>
                            <div class="table-responsive">
                                <table id="example23" class="table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Location</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Project managment</td>
                                        <td>organization</td>
                                        <td>Sarajevo</td>
                                        <td>15-JAN-2018</td>
                                        <td>New</td>
                                    </tr>
                                    <tr>
                                        <td>Scrum master training for developers</td>
                                        <td>organization</td>
                                        <td>Sarajevo</td>
                                        <td>10-SEP-2017</td>
                                        <td>Completed</td>
                                    </tr>
                                    <tr>
                                        <td>Angular2 Meet-up local comunity</td>
                                        <td>development</td>
                                        <td>Sarajevo</td>
                                        <td>15-MAJ-2017</td>
                                        <td>Completed</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>

                        <div class="card">
                            <div class="panel-footer p-b-20 p-t-20 m-b-10">
                                <i class="icon-user m-r-5 heading-icon-at"></i>
                                <span class="heading-at">Company Files</span>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <a href="#">Annual holiday plan for 2018</a>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago by S.Admin</small></p>
                                        </div>
                                        <div class="col-sm-3"><p class="pull-right">25-DEC-2017</p></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <a href="#">Work contract template</a>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago by S.Admin</small></p>
                                        </div>
                                        <div class="col-sm-3"><p class="pull-right">25-DEC-2017</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <div class="card">
                            <div class="panel-footer p-b-20 p-t-20 m-b-10">
                                <i class="icon-user m-r-5 heading-icon-at"></i>
                                <span class="heading-at">My payslips</span>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <a href="#">Payslip for 11/2017</a>
                                        </div>
                                        <div class="col-sm-3"><p class="pull-right">30-NOV-2017</p></div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <a href="#">Payslip for 10/2017</a>
                                        </div>
                                        <div class="col-sm-3"><p class="pull-right">31-OCT-2017</p></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <br>
                    </form>
                </div>




            </div>
        </div>
    </div>
