<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.emPenalties.home.title">Em Penalties</span>
        <button class="btn btn-primary float-right jh-create-entity create-em-penalties" [routerLink]="['/', { outlets: { popup: ['em-penalties-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.emPenalties.home.createLabel">
            Create new Em Penalties
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="emPenalties">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hcmEmpApp.emPenalties.description">Description</span></th>
            <th><span jhiTranslate="hcmEmpApp.emPenalties.dateFrom">Date From</span></th>
            <th><span jhiTranslate="hcmEmpApp.emPenalties.dateTo">Date To</span></th>
            <th><span jhiTranslate="hcmEmpApp.emPenalties.createdBy">Created By</span></th>
            <th><span jhiTranslate="hcmEmpApp.emPenalties.createdAt">Created At</span></th>
            <th><span jhiTranslate="hcmEmpApp.emPenalties.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="hcmEmpApp.emPenalties.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="hcmEmpApp.emPenalties.idEmployee">Id Employee</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emPenalties of emPenalties ;trackBy: trackId">
                <td><a [routerLink]="['../em-penalties', emPenalties.id ]">{{emPenalties.id}}</a></td>
                <td>{{emPenalties.description}}</td>
                <td>{{emPenalties.dateFrom | date:'mediumDate'}}</td>
                <td>{{emPenalties.dateTo | date:'mediumDate'}}</td>
                <td>{{emPenalties.createdBy}}</td>
                <td>{{emPenalties.createdAt | date:'medium'}}</td>
                <td>{{emPenalties.updatedBy}}</td>
                <td>{{emPenalties.updatedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="emPenalties.idEmployee">
                        <a [routerLink]="['../em-employees', emPenalties.idEmployee?.id ]" >{{emPenalties.idEmployee?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../em-penalties', emPenalties.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-penalties/'+ emPenalties.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-penalties/'+ emPenalties.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
