<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmPenaltiesLabel" jhiTranslate="hcmEmpApp.emPenalties.home.createOrEditLabel">Create or edit a Em Penalties</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!emPenalties.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="emPenalties.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emPenalties.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="emPenalties.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emPenalties.dateFrom" for="field_dateFrom">Date From</label>
            <div class="input-group">
                <input id="field_dateFrom" type="text" class="form-control" name="dateFrom" ngbDatepicker  #dateFromDp="ngbDatepicker" [(ngModel)]="emPenalties.dateFrom"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateFromDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcmEmpApp.emPenalties.dateTo" for="field_dateTo">Date To</label>
            <div class="input-group">
                <input id="field_dateTo" type="text" class="form-control" name="dateTo" ngbDatepicker  #dateToDp="ngbDatepicker" [(ngModel)]="emPenalties.dateTo"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateToDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="form-control-label" jhiTranslate="hcmEmpApp.emPenalties.idEmployee" for="field_idEmployee">Id Employee</label>-->
            <!--<select class="form-control" id="field_idEmployee" name="idEmployee" [(ngModel)]="emPenalties.idEmployee">-->
                <!--<option [ngValue]="null"></option>-->
                <!--<option [ngValue]="emEmployeesOption.id === emPenalties.idEmployee?.id ? emPenalties.idEmployee : emEmployeesOption" *ngFor="let emEmployeesOption of idemployees; trackBy: trackEmEmployeesById">{{emEmployeesOption.id}}</option>-->
            <!--</select>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
