<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.emEmpIdentifications.home.title">Em Emp Identifications</span>
        <button class="btn btn-primary float-right jh-create-entity create-em-emp-identifications" [routerLink]="['/', { outlets: { popup: ['em-emp-identifications-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.emEmpIdentifications.home.createLabel">
            Create new Em Emp Identifications
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="emEmpIdentifications">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpIdentifications.identificationNumber">Identification Number</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpIdentifications.jurisdiction">Jurisdiction</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpIdentifications.validThrough">Valid Through</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpIdentifications.createdBy">Created By</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpIdentifications.createdAt">Created At</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpIdentifications.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpIdentifications.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpIdentifications.idEmployee">Id Employee</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpIdentifications.idIdentification">Id Identification</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpIdentifications.idRegion">Id Region</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emEmpIdentifications of emEmpIdentifications ;trackBy: trackId">
                <td><a [routerLink]="['../em-emp-identifications', emEmpIdentifications.id ]">{{emEmpIdentifications.id}}</a></td>
                <td>{{emEmpIdentifications.identificationNumber}}</td>
                <td>{{emEmpIdentifications.jurisdiction}}</td>
                <td>{{emEmpIdentifications.validThrough | date:'mediumDate'}}</td>
                <td>{{emEmpIdentifications.createdBy}}</td>
                <td>{{emEmpIdentifications.createdAt | date:'medium'}}</td>
                <td>{{emEmpIdentifications.updatedBy}}</td>
                <td>{{emEmpIdentifications.updatedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="emEmpIdentifications.idEmployee">
                        <a [routerLink]="['../em-employees', emEmpIdentifications.idEmployee?.id ]" >{{emEmpIdentifications.idEmployee?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emEmpIdentifications.idIdentification">
                        <a [routerLink]="['../rg-identification-types', emEmpIdentifications.idIdentification?.id ]" >{{emEmpIdentifications.idIdentification?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emEmpIdentifications.idRegion">
                        <a [routerLink]="['../rg-regions', emEmpIdentifications.idRegion?.id ]" >{{emEmpIdentifications.idRegion?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../em-emp-identifications', emEmpIdentifications.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-emp-identifications/'+ emEmpIdentifications.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-emp-identifications/'+ emEmpIdentifications.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
